---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---
<!-- 
{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->
<!-- The above lines are is for cycling through all teaching profiles in the original template.  -->

ME 3050: Modeling & Analysis of Dynamic Systems
---
Spring 2020 - present 

ME 4021: Internship in Engineering Design Laboratory
---
Spring 2022, 2024

ME 8200: Modern Control Engineering
---
Spring 2023